@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET / BASE STYLES */
html, body {
  @apply bg-[#0d0d0d] text-white antialiased;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Default font size */
body {
  font-size: 16px;
}
/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
